/** HOME **/

.home-presentation {
    background-image: url('/img/space.jpg');
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    padding: 50px;
    opacity: 1.01;
}

.home-presentation p {

    font-size: 24px;
}

.projects-section {
    background-color: #f8f9fa;
    padding: 80px 0;
}

.projects-section h2 {
    font-size: 32px;
    font-weight: bold;
}

.projects-section .card {
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.projects-section .card-img-top {
    height: 200px;
    object-fit: cover;
}

.projects-section .card-title {
    font-size: 24px;
    font-weight: bold;
}

.projects-section .card-text {
    font-size: 16px;
}

.projects-section .btn {
    margin-top: 20px;
}

.skills-section {
    background-color: #212529;
    padding: 80px 0;
    color:violet;
}

.skills-section h2 {
    font-size: 32px;
    font-weight: bold;
}

.skills-section h5 {
    margin-bottom: 10px;
}

.skills-section .progress {
    height: 20px;
    margin-bottom: 20px;
}

.skills-section .progress-bar {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.experience-section {
    background-color: #f7f7f7;
    padding: 80px 0;
}

.experience-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.experience-item {
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.experience-item h4 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-item h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444444;
}

.experience-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonials-section {
    padding: 80px 0;
    background-color: #212529;
    color:violet;
}

.testimonials-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.testimonial-item {
    padding: 20px;
    margin-bottom: 30px;
    background-color: #212529;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.testimonial-item p {
    font-size: 16px;
    margin-bottom: 10px;
    color:violet;
}

.testimonial-author {
    font-size: 14px;
    color:violet;
}

.contact-section {
    margin-top: 1rem;
    padding: 80px 0;
    border-radius: 9px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3), 0 4px 8px rgba(0,0,0,0.2);


}

.contact-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.contact-section div.mb-3{
    margin:auto;
    max-width: 800px;
}

.contact-section .form-control{
    box-shadow: 0 8px 8px rgba(0,0,0,0.3), 0 4px 8px rgba(0,0,0,0.2);
}

.form-group label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

.form-control {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.form-control:focus {
    outline: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

textarea.form-control {
    height: 150px;
}

.btn-primary {
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    border: none;
    background-color: #28a745;
    color: white;
}

.btn-primary:hover {
    background-color: #218838;
}

